# Experimental outputs
scratch/

# Environment
.env
.env.*

# Python
uv.lock
__pycache__/
*.pyc
*.egg-info/
dist/
build/
.venv/
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
.DS_Store

# ML artifacts
*.pt
*.bin
*.safetensors
wandb/
